# The elements of Jupyter notebook

# Introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

<ol>
  <li>TensorFlow</li>
  <li>NumPy</li> 
  <li>Keras</li>
</ol>

# Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python</li>
  <li>R</li> 
  <li>Julia</li>
</ol>

## Table of Data Science tools

|Data Science tools|
--------------------
| Apache Spark |
| Tensor Flow|
| Matplotlib |

# Arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
1+1

2

In [14]:
2*5

10

In [17]:
4 + (9*5)/6 - 3

8.5

### Multiply and add numbers

In [19]:
## This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

## Convert minutes to hours

In [25]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Objectives

Below items are covered in this module: 

* List popular languages for Data Science
* Arithmetic operations examples
* Table of data science tools
* Popular languages and tools used in Data Science

# Author's details
## Author
Vivek A